<%
require 'open-uri'
require 'json'

def character_check(attempt, grid)
  attempt.upcase.chars.all? { |letter| attempt.upcase.count(letter) <= grid.count(letter) }
end

def word_check(attempt)
  url = "https://wagon-dictionary.herokuapp.com/#{attempt}"
  word_check_serialized = URI.open(url).read
  JSON.parse(word_check_serialized, symbolize_names: true)
end

def score_message(attempt, grid)
  letters = grid.split("")
  if character_check(attempt, grid)
    if word_check(attempt)[:found]
      return "Congratualtions! #{attempt.capitalize} is a valid English word!"
    else
      return "Sorry but #{attempt.capitalize} does not seem to be a valid English word"
    end
  else
    return "Sorry but #{attempt.capitalize} cannot be built out of #{grid}"
  end
end
%>


<div class="container">
  <h3>Results</h3>
  <div class="score">
    <h5><%= score_message(params[:word], params[:letters]) %></h5>
  </div>
</div>

<%= link_to "Play again", new_path %>
